@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/firstPage.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">

<body>
    <div class="text-center">
        <div class="">
            <h1 class="introMessage display-4">Easy. Simple. Minimalist.</h1>
        </div>
            <div class="descr"> 
                <p>Enjoy an easy to use note-taking app who is designed to make you more organized.</p>
                </div>
           
        

        <button class="letsgoBtn" type="submit">Let's go</button>
    </div>
    
        
        
    
</body>